## Installation requirements

## Install virtualenv via either method:
##    a. apt-get install python-virtualenv
##    b. pip install virtualenv

## Install opencv to OS directly
##    sudo apt-get install libopencv-dev python3-opencv

## Set up and start virtual environment
##    1. cd /.../babymonitor
##    2. virtualenv -p python3 babymonitor_venvn
##    3. source /.../babymonitor/babymonitor_venb/bin/activate

## Install requirements listed here
##    1. pip install -r requirements.txt

opencv-python
numpy
tensorflow
Pillow
keras
